*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

header{
    background: #f7b000;
    padding: 30px;
    text-align: center;
}

#logo,nav{
    padding: 10px;
}

h1{
    color: #4e4e4e;
    font-size: 40px;
}

.branco{
    color: #ffffff
}

a{
    text-decoration: none;
}

nav a:link,nav a:visited{
    color: #ffffff;
    padding: 8px 12px;
}

nav a:hover{
    color: #f7b000;
    background: #ffffff;
}

section{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#post{
    width: 660px;
    float: left;

}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
}

.amarelo{
    color: #f7b000
}

img{
    width: 620px;
}

.dataPost{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;

}

#sidebar{
    width: 240px;
    float: right;
}

.conteudo-lateral{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
    text-align: center;
}

.texto-lateral{
    font-size: 0.8em;
    padding: 5px;
}

.link-lateral{
    color: #f7b000;
}

footer{
    background: #ccc;
    clear: both;
    text-align: center;
    padding: 12px;
}
